@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}

.mainContainer--color {
  background: url("/images/bg2.jpeg") !important;
  background-size: cover;
  background-position: fixed;
}

.logo__image {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100%;
  margin-top: 1rem;
  margin-left: 1.2rem;
}
.logo--animated {
  -webkit-animation-name: animated-logo;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: animated-logo;
  -moz-animation-duration: 4000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: animated-logo;
  -ms-animation-duration: 4000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: animated-logo;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes animated-logo {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}
@-moz-keyframes animated-logo {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes animated-logo {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes animated-logo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.homePage {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.portrait {
  text-align: center;
  width: 40%;
  margin-top: 10rem;
  width: 40%;
  height: 100%;
}
.portrait__slide {
  height: 90%;
  width: 100%;
}
.portrait__image {
  margin: 0 auto;
  height: 80%;
  width: 70%;
  border-radius: 10px;
  position: relative;
  -webkit-animation: portraitImage-animated 5s infinite;
  -webkit-animation-delay: 1.5s;
  animation: portraitImage-animated 5s infinite;
  animation-delay: 1.5s;
}
.portrait__details {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  color: #194744;
}
.portrait__title {
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}
.portrait__job {
  font-size: 1.7rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
.portrait__description {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}

.portrait:nth-child(1) {
  width: 50%;
}

.writeMe {
  background: black !important;
  background-size: cover;
  background-position: fixed;
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.9rem;
}
.writeMe__title {
  color: white;
  text-align: center;
  padding: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2.75rem;
}
.writeMe__form {
  width: 40%;
  margin: 0 auto;
}
.writeMe__form .buttons {
  display: flex;
  flex-direction: row;
  justify-content: center !important;
  align-items: center;
}

.footer {
  background: #110e1f !important;
  background-size: cover;
  background-position: fixed;
  color: white;
  display: flex !important;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-items: center;
  font-size: 1.2rem;
  width: 100vw;
  height: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.footer__details {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: 1px dotted white;
}
.footer__details .address__title {
  border-bottom: 1px dotted white;
}
.footer__details .skills__title {
  border-bottom: 1px dotted white;
}
.footer__address {
  font-size: 18px;
  margin-right: 15rem;
  border-left: 1px dotted white;
}
.footer__skills {
  border-right: 1px dotted white;
}

.menu {
  background: #110e1f !important;
  background-size: cover;
  background-position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  width: 100vw;
}

.responsiveHeader {
  display: none;
}

.menu a {
  float: center;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 1.4rem 1.6rem;
  text-decoration: none;
  font-size: 1.2rem;
}

.menu a:hover {
  background-color: #a79797;
  color: black;
}

.menu a.active {
  background-color: blue;
  color: white;
}

.menu .icon {
  display: none;
}

.portfolio__title--align {
  text-align: center;
  font-size: 2.75rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  padding-top: 6rem;
}
.portfolio__imageMove .imageMove--tail {
  display: inline-block;
  width: 10%;
  height: auto;
}
.portfolio__imageMove .imageMove--animation {
  animation: move 6s infinite;
}
@keyframes move {
  0% {
    position: relative;
    left: 0;
  }
  5% {
    position: relative;
    left: 5%;
  }
  10% {
    position: relative;
    left: 10%;
  }
  15% {
    position: relative;
    left: 15%;
  }
  20% {
    position: relative;
    left: 20%;
  }
  25% {
    position: relative;
    left: 25%;
  }
  30% {
    position: relative;
    left: 30%;
  }
  35% {
    position: relative;
    left: 35%;
  }
  40% {
    position: relative;
    left: 40%;
  }
  45% {
    position: relative;
    left: 45%;
  }
  50% {
    position: relative;
    left: 50%;
  }
  55% {
    position: relative;
    left: 55%;
  }
  60% {
    position: relative;
    left: 60%;
  }
  65% {
    position: relative;
    left: 65%;
  }
  70% {
    position: relative;
    left: 70%;
  }
  75% {
    position: relative;
    left: 75%;
  }
  80% {
    position: relative;
    left: 80%;
  }
  85% {
    position: relative;
    left: 85%;
  }
  90% {
    position: relative;
    left: 90%;
  }
  95% {
    position: relative;
    left: 95%;
  }
  100% {
    position: relative;
    left: 100%;
  }
}
.portfolio .Skills {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}
.portfolio .Skills .hardSkills {
  width: 40%;
  height: 80%;
}
.portfolio .Skills .hardSkills__title {
  font-size: 2.25rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.portfolio .Skills .hardSkills__titleContent {
  background: #110e1f !important;
  background-size: cover;
  background-position: fixed;
  color: white;
  text-align: center;
}
.portfolio .Skills .hardSkills__contentContainer {
  display: flex !important;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #f2eff3 !important;
  background-size: cover;
  background-position: fixed;
  box-shadow: 10px 5px 5px 5px #d8b9b9, 1em 0 0.4em #9c9c96;
}
.portfolio .Skills .hardSkills__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: justify;
}
.portfolio .Skills .hardSkills__content .icon {
  font-size: 3em;
  margin: 2rem;
}
.portfolio .Skills .hardSkills__icon {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.portfolio .Skills .hardSkills__name {
  font-size: 1.25em;
  margin-top: -2rem;
}
.portfolio .Skills .softSkills {
  width: 40%;
  height: 80%;
}
.portfolio .Skills .softSkills__titleContent {
  background-color: #110e1f;
  color: white;
  text-align: center;
}
.portfolio .Skills .softSkills__title {
  font-size: 2.25rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.portfolio .Skills .softSkills__contentContainer {
  display: flex !important;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #f2eff3 !important;
  background-size: cover;
  background-position: fixed;
}
.portfolio .Skills .softSkills__content {
  background: #e1dce1 !important;
  background-size: cover;
  background-position: fixed;
  margin: 1.25rem;
  border-radius: 10px;
}
.portfolio .Skills .softSkills__content .contentItems {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 2.5em;
  font-size: 1.15em;
  text-align: justify;
  margin: 1rem;
}
.portfolio .projects {
  background: #f2eff3 !important;
  background-size: cover;
  background-position: fixed;
  width: 100vw;
  height: 100vh;
}
.portfolio .projects__titleContent {
  text-align: center;
}
.portfolio .projects__title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 2.75rem;
}
.portfolio .projects__Content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.portfolio .projects__Content .project {
  width: 28%;
  height: 100%;
  background-color: #110e1f;
}
.portfolio .projects__Content .project__imageContent {
  text-align: center;
}
.portfolio .projects__Content .project__image {
  width: 100%;
  height: auto;
}
.portfolio .projects__Content .project__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  background: #110e1f !important;
  background-size: cover;
  background-position: fixed;
  text-align: center;
  color: white;
}
.portfolio .projects__Content .project__description {
  font-family: "Roboto", sans-serif;
  font-weight: 350;
  background-color: white;
  text-align: center;
  padding-top: 0.9rem;
  padding-bottom: 1.75rem;
}

@media screen and (min-width: 280px) and (max-width: 1024px) {
  .responsiveHeader {
    display: block;
  }

  .normalHeader {
    display: none;
  }

  .homePage {
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    text-align: center;
  }
  .homePage .portrait {
    width: 100vw;
    margin-top: 3rem !important;
  }
  .homePage .portrait__slide {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
  }
  .homePage .portrait__image {
    width: 50%;
    height: none;
  }
  .homePage .portrait:nth-child(1) {
    margin-top: -5rem !important;
  }

  .portrait__title {
    font-size: 2.5rem;
  }

  .portfolio {
    display: flex !important;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .portfolio .Skills {
    display: flex !important;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  .portfolio .Skills .hardSkills {
    width: 90%;
    height: none;
  }
  .portfolio .Skills .hardSkills__contentContainer {
    width: 100%;
    height: none;
    word-break: break-all;
    word-wrap: break-word;
  }
  .portfolio .Skills .hardSkills__content {
    text-align: justify;
    width: 100%;
    height: none;
    word-break: break-all;
    word-wrap: break-word;
  }
  .portfolio .Skills .softSkills {
    width: 90%;
    height: none;
  }
  .portfolio .projects {
    display: flex !important;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.25rem;
    width: 100vw;
    height: auto;
  }
  .portfolio .projects__titleContent {
    margin-bottom: 1.25rem;
  }
  .portfolio .projects .projects__Content {
    display: flex !important;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: auto;
  }
  .portfolio .projects .projects__Content .project {
    width: 80%;
    height: auto;
    margin-bottom: 1.5rem;
  }

  .writeMe {
    width: 100vw;
    height: 70vh;
  }

  .footer__details {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-bottom: 1px solid white;
    align-items: center;
  }

  .footer__address {
    margin-right: auto;
    border: none;
  }

  .footer__skills {
    margin-right: auto;
    border: none;
  }
}

/*# sourceMappingURL=style.css.map */
