
@mixin applyFlexRows($justifyContent) {
    display: flex;
    flex-direction: row;
    justify-content: $justifyContent;
    align-items: center;
}
@mixin applyFlexColums($justifyContent) {
    display: flex !important;
    flex-direction: column;
    justify-content: $justifyContent;
    align-items: center;
}
@mixin applyBgWhite(){
    background-color: $white-color;
}
@mixin bgColor($bgcolor){
    background: $bgcolor !important;
    background-size: cover;
    background-position: fixed;
}
@mixin  width-heigth($width,$height) {
    width: $width;
    height: $height;
}
@mixin fontFamily($font,$weight){
    font-family:$font;
    font-weight: $weight;
}